/* Home CSS */
.section-title-main {
  font-family: 'Darumadrop One', sans-serif !important;
  font-size: 96px;
}

.section-title-secondary {
  font-family: 'Darumadrop One', sans-serif !important;
  font-size: 112px;
}

@media (max-width: 992px) {
  .section-title-main {
    font-size: 64px;
  }
  .section-title-secondary {
    font-size: 72px;
  }
}
