/* Custom fonts */
@font-face {
  font-family: Darumadrop One;
  src: url('./assets/font/DarumadropOne-Regular.ttf');
}

@font-face {
  font-family: Dokdo;
  src: url('./assets/font/Dokdo-Regular.ttf');
}

@font-face {
  font-family: DM Sans;
  src: url('./assets/font/DMSans-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: DM Sans;
  src: url('./assets/font/DMSans-Bold.ttf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: DM Sans;
  src: url('./assets/font/DMSans-Italic.ttf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: DM Sans;
  src: url('./assets/font/DMSans-BoldItalic.ttf');
  font-style: italic;
  font-weight: bold;
}

/* Reset Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 25px;
}

body {
  overflow-x: hidden;
  position: relative;
  font-family: 'Dokdo', sans-serif !important;
  background-color: #fff !important;
  color: #131313 !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

/* Default CSS */
.App {
  text-align: center;
}
